@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: 'VT323', monospace; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 60px;
  background: #eee; }

.game {
  position: relative; }
  .game__header {
    width: 400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .game__field {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: cornflowerblue; }
  .game__excel {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px; }
  .game__snake-body {
    background: url("../images/snake-body.jpg");
    background-size: cover;
    border-radius: 10%; }
  .game__snake-head {
    background: url("../images/snake-head.png");
    background-size: cover;
    border-radius: 10%; }
  .game__mouse {
    background: url("../images/surfing-mouse.png");
    background-size: cover; }
  .game__score {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px; }
  .game__lose-msg {
    width: 400px;
    height: 400px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f7f7f7;
    border-radius: 1px;
    overflow: hidden;
    z-index: 1; }
  .game__lose-img {
    width: 400px;
    height: 250px;
    background: url("../images/lose.png") no-repeat;
    background-size: cover;
    -webkit-animation: showIn 1s ease-in-out forwards;
            animation: showIn 1s ease-in-out forwards; }
  .game__reset {
    width: 170px;
    height: 40px;
    background: black;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'VT323', monospace; }

@-webkit-keyframes showIn {
  0% {
    -webkit-transform: translate(-575px, 0);
            transform: translate(-575px, 0); }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  75% {
    -webkit-transform: translate(-55px, 0);
            transform: translate(-55px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes showIn {
  0% {
    -webkit-transform: translate(-575px, 0);
            transform: translate(-575px, 0); }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  75% {
    -webkit-transform: translate(-55px, 0);
            transform: translate(-55px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

/*# sourceMappingURL=main.css.map */
